Documents/
Downloads/
Testing/
links.txt
snap/
.emacs.d/elpa/*
.vimi*
.urxvt
.ssh
.vim/
.vim_*
.vimrc_run*
.tmux/
.bash_*
.Xauthority
.Xdefaults
.ICEaut*
.cling_history
.cert/
.cache/
.conda/
.cargo/
.dbshell
.designer/
.dmrc
.elster-auth*
.emacs.d/.python*
.emacs.d/auto-save-list/
.emacs.d/irony/
.emacs.d/network-securi*
.emacs.d/org-init.el
.emacs.d/projecti*
.emacs.d/smex-items
.emacs.d/transient/
.fzf*
.gnupg/
.gtkr*
.hplip/
.install4j
.ipython/
.java/
.kde4/
.keras/
.lesshst
.local/
.lyxauth
.meteor*
.mongo*
.mozilla/
.node*
.npm*
.nv*
.oh-my*
.pki/
.psensor/
.pylint*
.python_*
.rustup/
.shell.pre*
.thunderbird/
.tmux/
.virtual*
.vimrc_runcode*
.wget-*
.xscreensaver
.xsession*
.xsettings*
.yarnrc
.zcompdump-*
.vscode-*
.zsh_*
.zshrc.backup

.config/akregatorrc
.config/audacious/
.config/autostart*
.config/baloofilerc
.config/bluedevil*
.config/BraveSo*
.config/chromium*
.config/Code*
.config/configsto*
.config/dconf/
.config/discord/
.config/discoverrc
.config/dleyna*
.config/enchant/
.config/eog/
.config/epiphany/
.config/evolution/
.config/evince/
.config/fontconfig/
.config/gconf/
.config/gedit/
.config/gnome*
.config/goa*
.config/google-*
.config/gsconnect*
.config/gtk*
.config/k*
.config/K*
.config/knfssh*
.config/konsole*
.config/kscreen*
.config/ksmser*
.config/kspash*
.config/ktime*
.config/kwin*
.config/kxk*
.config/lib*
.config/matplot*
.config/mimeapp*
.config/nautilus/
.config/neofetch/
.config/nordvpn/
.config/plank/
.config/plasma*
.config/Postman/
.config/powerman*
.config/procps/
.config/protonmail/
.config/pulse/
.config/QtProj*
.config/session/
.config/spotify/
.config/systemd/
.config/system*
.config/totem/
.config/transmission/
.config/Troll*
.config/user-di*
.config/viewnior/
.config/Virtual*
.config/vlc/
.config/whats*
.config/wireshark/
.config/xfce4/
.config/xsettingsd/
.config/yay/
.config/base*
.config/asciinema/*
.config/xarchiver/*
.config/Android*

Android*
.KaliLinux*
.emulator*

.aaron*
.eendro*
.ccache
.net*

.Android*
.android*
.expo*
.flutter*
.gradle*
Android/


Movies/
Recordings/

.bin/
.Virtual*

Pictures/
.fontconfig/

.zoom*
.config/zoom*
