[pull]
    rebase = false

[user]
    email = joao.s.silva@linkconsulting.com
    name = jmpargana

[core]
    editor = nvim

[init]
    defaultBranch = main

[branch]
    autoSetupMerge = always

[color]
    advice = always
    branch = always
    diff = always
    grep = always
    interactive = always
    push = always
    remote = always
    showBranch = always
    status = always
    transport = always

[alias]
    s = status
	  co = commit
	  cm = commit -m
	  b = branch
	  cl = clone
    ps = push
    pl = pull
    ck = checkout -b
    co = checkout
    mn = merge --no-ff
    lg = log --graph
    lgl = log --all --decorate --oneline --graph
    l = log

