# Ignore everything thing except the following files and folders
*

!README.org

# Golden Boys
!.vimrc
!.emacs.d/

# Just the important configs
!.config/{Thunar,alacritty,dunst,fish,i3,i3status,nitrogen,openbox,picom,ranger,rofi,tint2}
!.config/pavucontrol.ini

# Personals
!.guides/
!.fonts/
!.themes/
!.scripts/

# Shells
!.bashrc
!.zshrc
!.tmux.conf
!.Xresources*

# debugger
!.gdbinit

!.gitconfig
!.profile
